<html>
  <head>
  </head>

  <body>
    {{name}}
    님을 위한 인증 이메일입니다😂 가입확인 버튼을 눌러 인증을 완료하세요.
    <br />
    <form action='{{url}}' method='POST'>
      <button type='submit' formmethod='POST'>인증하기👀</button>
    </form>
  </body>
</html>